.fa-button{
    border: 0px solid black;
    background-color: transparent;
    outline-style: none;
    color: #9E2A2B;
    height: 10vh;
    width: 20vh;
    min-height: 100px;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: #0B4F6C;
}

.input-container {
    margin-top: 10vh;
    text-align: center;
    vertical-align: center;
    font-size: 275%;
}

.word-container{
    margin: 5px;
    border: 5px solid #145C9E;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 10px;
    min-height: 100px;
    min-width: 100px;
}

.header-container{
    text-align: center;
    color: #0B4F6C;
    font-size: 400%;
    font-family: 'Fredoka One', cursive;
    margin-top:17.5vh;
    font-weight: bold;
}

.top-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 8vh;
    background-color: black;
    width: 100%;
}

.github-icon-container{
    color: white;
    height: 8vh;
    width: 8vh;
    /* font-size: 200%; */
    text-align: center;
    border: 0px solid black;
    background-color: transparent;
    outline-style: none;
    font-size: 200%;
}

.text-align-center-vertical {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); 
}
